body {
  margin: 0;
  padding: 0
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #08b163;
}

.logo {
  background: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  font-size: 29px;
  padding: 10px;
  color: #08b163;
  text-align: center;
}